@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 277 42% 26%;
    --foreground: 210 20% 95%;
    --card: 210 20% 98%;
    --card-foreground: 0 0% 3%;
    --popover: 210 20% 98%;
    --popover-foreground: 0 0% 3%;
    --primary: 277 42% 26%;
    --primary-foreground: 210 20% 95%;
    --secondary: 210 20% 90%;
    --secondary-foreground: 0 0% 3%;
    --muted: 210 20% 90%;
    --muted-foreground: 0 0% 55%;
    --accent: 277 42% 32%;
    --accent-foreground: 210 20% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 95%;
    --border: 277 42% 35%;
    --input: 277 42% 35%;
    --ring: 277 42% 40%;
    --radius: 0.5rem;
    --chart-1: 277 42% 50%;
    --chart-2: 277 42% 40%;
    --chart-3: 277 42% 30%;
    --chart-4: 277 42% 60%;
    --chart-5: 277 42% 70%;
  }

  .dark {
    --background: 0 0% 0.4%;
    --foreground: 210 20% 92%;
    --card: 0 0% 2%;
    --card-foreground: 210 20% 92%;
    --popover: 0 0% 2%;
    --popover-foreground: 210 20% 92%;
    --primary: 277 42% 50%;
    --primary-foreground: 210 20% 92%;
    --secondary: 277 42% 20%;
    --secondary-foreground: 210 20% 92%;
    --muted: 277 42% 15%;
    --muted-foreground: 210 20% 70%;
    --accent: 277 42% 35%;
    --accent-foreground: 210 20% 92%;
    --destructive: 0 62.8% 50%;
    --destructive-foreground: 210 20% 92%;
    --border: 277 42% 25%;
    --input: 277 42% 25%;
    --ring: 277 42% 50%;
    --chart-1: 277 42% 60%;
    --chart-2: 277 42% 50%;
    --chart-3: 277 42% 40%;
    --chart-4: 277 42% 70%;
    --chart-5: 277 42% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
